notifySMSReception.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"  
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
xmlns:wsa5="http://www.w3.org/2005/08/addressing" 
xmlns:parlayx_sms_notification_local_xsd="http://www.csapi.org/schema/parlayx/sms/notification/v2_2/local"
xmlns:tns="http://www.example.org/notifySMSReception/"
xmlns:interface="http://www.csapi.org/wsdl/parlayx/sms/notification/v2_2/interface/SmsNotification/notifySmsReception"
name="notifySMSReception" 
targetNamespace="http://www.csapi.org/wsdl/parlayx/sms/notification/v2_2/interface/SmsNotification/notifySmsReception">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsa5="http://www.w3.org/2005/08/addressing"
     targetNamespace="http://www.csapi.org/schema/parlayx/sms/notification/v2_2/local">
     <xsd:import namespace= "http://www.w3.org/2005/08/addressing" schemaLocation="http://www.w3.org/2006/03/addressing/ws-addr.xsd"/>
      <xsd:element name="notifySmsReception" type = "parlayx_sms_notification_local_xsd:notifySmsReception"/>
        <xsd:complexType name="notifySmsReception">
          <xsd:sequence>
            <xsd:element name="correlator" type="xsd:string" minOccurs="0"/>
            <xsd:element name="message" type="parlayx_sms_notification_local_xsd:SmsMessage" minOccurs="0" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType> 
      
      <xsd:element name="notifySmsReceptionResponse" type="parlayx_sms_notification_local_xsd:notifySmsReceptionResponse"/>
      <xsd:complexType name="notifySmsReceptionResponse">
          <xsd:sequence>
					<xsd:element name="result" type="xsd:string"/>
				</xsd:sequence>
      </xsd:complexType>
      
      <xsd:complexType name ="SmsMessage" >
          <xsd:sequence>
            <xsd:element name="message" type="xsd:string" minOccurs="0"/>
            <xsd:element name="senderAddress" type="xsd:anyURI" minOccurs="0"></xsd:element>
            <xsd:element name="smsServiceActivationNumber" type="xsd:anyURI" minOccurs="0"></xsd:element>
<!--             <xsd:element name="dateTime" type="xsd:dateTime" minOccurs="0"></xsd:element> -->
          </xsd:sequence>
        </xsd:complexType>
        
          
       <xsd:complexType name ="wsaHeader" >
          <xsd:sequence>
          <xsd:element name="Action" type="xsd:string" minOccurs="0"></xsd:element>
            <xsd:element name="MessageID" type="xsd:string" minOccurs="0"/>

<!--             <xsd:element name="To" type="xsd:string" minOccurs="0"></xsd:element> -->
<!--             <xsd:element name="ReplyTo" type="xsd:string" minOccurs="0"></xsd:element> -->
          </xsd:sequence>
       </xsd:complexType>
        
     </xsd:schema>
      
  </wsdl:types>

    <wsdl:message name="NotifySmsReception_notifySmsReception">
		<wsdl:part name="parameters" element="parlayx_sms_notification_local_xsd:notifySmsReception"/>
	</wsdl:message>
	
	<wsdl:message name="NotifySmsReception_notifySmsReceptionResponse">
		<wsdl:part name="result" element="parlayx_sms_notification_local_xsd:notifySmsReceptionResponse"/>
	</wsdl:message>
	
	<wsdl:message name="wsaHeader">
	    <wsdl:part name="Action" element="wsa5:Action"/>
        <wsdl:part name="MessageID" element="wsa5:MessageID" />
<!--         <wsdl:part name="To" element="wsa5:To" /> -->
<!--         <wsdl:part name="ReplyTo" element="wsa5:ReplyTo" />      -->
   </wsdl:message>

  <wsdl:portType name="NotifySmsReception">
		<wsdl:operation name="notifySmsReception">
			<wsdl:input  message="interface:NotifySmsReception_notifySmsReception"
			             wsa5:Action ="http://www.csapi.org/wsdl/parlayx/sms/notification/v2_2/interface/SmsNotification/notifySmsReception"/>
			
			<wsdl:output message="interface:NotifySmsReception_notifySmsReceptionResponse"/>
		</wsdl:operation>
  </wsdl:portType>
		
 <wsdl:binding name="NotifySmsReceptionBinding" type="interface:NotifySmsReception">
        <wsa5:UsingAddressing wsdl:required="true"/>
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="notifySmsReception">
			<soap:operation soapAction=" " 
			style="document"/>
			
			<wsdl:input>
                <soap:header use="literal" message="interface:wsaHeader" part="Action"/>
                <soap:header use="literal" message="interface:wsaHeader" part="MessageID"/>
<!--                 <soap:header use="literal" message="interface:wsaHeader" part="To"/> -->
<!--                 <soap:header use="literal" message="interface:wsaHeader" part="ReplyTo"/> -->
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="NotifySmsReceptionService">
		<wsdl:port name="NotifySmsReception" binding="interface:NotifySmsReceptionBinding">
			<soap:address location="https://10.198.164.241:7500/phc/services/NotifySmsReception"/>
		</wsdl:port>
  </wsdl:service>
  		
</wsdl:definitions>
